* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	font-size:12px;
	line-height:1.3;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#ccc;
	background-color: antiquewhite;
}
a {
	color:#e7b038;
	text-decoration:underline;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
a img {
	border:0;
}
input, textarea, select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;
}
.right, .alignright {
	float:right;
	display:inline;
}
.text-right {
	text-align:right;
}
#nombre{
	font-size:2.1875em;
	color: black;
	font-weight:bold;
}
h1 {
	font-size:10px;
	color: blue;
	font-weight:bold;
}
h2 {
	font-size:10px;
	color: blue;
	font-weight:bold;
}
#shell {
	width:980px;
	margin:0 auto;
}
#header {
	position:relative;
}
#logo{
	width: 9%;
	border-radius: 10%;
}
.social {
	float:right;
	width:160px;
	padding-top:11px;
}
.social span {
	float:left;
	display:inline;
	font-size:10px;
	color: blue;
	line-height:16px;
	padding-right:5px;
}
.social ul {
	list-style:none;
}
.social ul li {
	float:left;
	display:inline;
	width:16px;
	padding-right:2px;
}
.social ul li a {
	float:left;
	display:inline;
	width:16px;
	height:16px;
	background:url('images/social.gif') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.social ul li a.facebook {
	background-position:-18px 0;
}
#menu {
	display:block;
	clear:right;
	padding:8px 0;
}
#menu ul, ol {
	list-style:none;
}
#menu ul li {
	background-color: black;
	float:left;
	display:inline;
	padding-right:23px;
}
#menu ul li a {
	font-size:14px;
	font-weight:bold;
	color: white;
	line-height:24px;
	text-decoration:none;
}
#menu ul li a:hover{
	background-color: slategrey;
}
#menu li ul {
	display: none;
	position: absolute;
}
#menu li:hover > ul{
	display: block;
}
#menu li ul li{
	position: relative;
}

#main {
	border-bottom:1px dashed #413e3e;
}
#content {
}
.box {
	width:980px;
	border-bottom:1px dashed #413e3e;
	padding-bottom:21px;
}
.box .head {
	width:980px;
	padding-top:14px;
	padding-bottom:11px;
}
.box .head h2 {
	float:left;
	display:inline;
}
.box .movie {
	width:152px;
	float:left;
	padding-right:12px;
}
.movie-image {
	float:left;
	width:152px;
	height:214px;
	position:relative;
}
.movie-image img {
	width:152px;
	height:214px;
}
.movie-image a {
	float:left;
	display:inline;
	width:152px;
	height:214px;
	position:relative;
	z-index:2;
}
.play {
	position:absolute;
	top:0;
	left:0;
	width:152px;
	height:214px;
	background:url("images/image-hover.png");
	display:block;
	z-index:5;
	cursor:pointer;
	display:none;
}
.movie span.name {
	font-weight:bold;
	color: lightgoldenrodyellow;
	font-size:14px;
	text-align:center;
	padding-top:160px;
	display:block;
}
.box .last {
	padding:0;
}
.content {
	padding-bottom:28px;
}
.content .date {
	font-size:10px;
	color:#fff;
}
.content img {
	float:left;
	width:68px;
	padding-right:8px;
}
.content p {
	font-size:13px;
	color:#fff;
	line-height:16px;
}
.content a {
	font-size:11px;
}
footer {
	padding:15px 0 0 0;
	font-size:10px;
}
footer, footer a {
	color:#9c9c9c;
	text-decoration:none;
}
footer a:hover {
	text-decoration:none;
}
footer p {
	margin:0;
	padding:0 0 11px 0;
	line-height:normal;
	white-space:nowrap;
}
footer .lf {
	float:left;
}
footer .rf {
	float:right;
}
#registro{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: black;
	width: 7%;
	border: 0;
	padding: 0.9375em;
	font-size: 0.875em;
	cursor: pointer;
}
#registro #boton:hover{
	background: slategrey;
}
#cuenta{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: black;
	width: 7%;
	border: 0;
	padding: 0.9375em;
	font-size: 0.875em;
	cursor: pointer;
}
#cuenta #boton:hover{
	background: slategrey;
}